@font-face {
    font-family: 'proximanova-bold';
    src: url('../../../fonts/proximanova-bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova-regular';
    src: url('../../../fonts/proximanova-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova-semibold';
    src: url('../../../fonts/proximanova-semibold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}